<label>
  Txt1:
  <input type="text" [formControl]="textbox1">
</label>
<label>
  Txt2:
  <input type="text" [formControl]="textbox2">
</label>

<button mat-raised-button color="primary" (click)="move()">COPIAR</button>

<mat-form-field  appearance="outline">
  <mat-label>Nome da Tabela</mat-label>
  <input #nome_new_table matInput placeholder="Nova Tabela">
</mat-form-field>
<mat-form-field  appearance="outline">
  <mat-label>Quantidade de Campos</mat-label>
  <input #qt_campos_table matInput placeholder="qtd Campos" (keyup)="montaTableForm(qt_campos_table.value)">
</mat-form-field>
<br>


<mat-form-field  appearance="outline" *ngFor="let field of formArray.controls; let i=index">
  <mat-label>{{i}}</mat-label>
  <input id="custom_fields_{{i}}" matInput placeholder="{{field.value}}" value="">
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="createTable(nome_new_table.value, qt_campos_table.value)">Criar Tabela</button>
<br>
<mat-form-field>
  <mat-label>Tabelas Disponiveis</mat-label>
      <mat-select id="select_tables" #select_tables (selectionChange)="showForm(select_tables.value, select_grafico.value)" [(value)]="selected_new_table">
         
          <mat-option *ngFor="let table of dataTables | keyvalue" [value]="table.key" >
          {{table.key}}
          </mat-option>
      </mat-select>
  <mat-hint></mat-hint>
</mat-form-field>
<mat-form-field>
  <mat-label>Tipo de Gráfico</mat-label>
  
  <mat-select #select_grafico (selectionChange)="geraGrafico(select_grafico.value, select_tables.value)" >
      
      <mat-option *ngFor="let tipo of tiposGrafico" [value]="tipo">
      {{tipo}}
      </mat-option>
  </mat-select>
  
</mat-form-field>
<table>
  <tr><td>
      <div *ngFor="let item of formTable | keyvalue">
         
          <span id="update_{{keyvalue}}" *ngFor="let field of item.value | keyvalue">
              <mat-form-field appearance="outline"> 
                  <mat-label>{{field.key}}</mat-label>
                  <input id="update_{{item.key}}_{{field.key}}" matInput placeholder="{{field.key}}" value="{{field.value}}">
              </mat-form-field>
          </span>
      </div>
      <div>
        <span *ngFor="let field of camposVazios | keyvalue">
            <mat-form-field  appearance="outline">
                <mat-label>{{field.key}}</mat-label>
                <input id="inserir_{{field.key}}" matInput placeholder="{{field.key}}" value="">
            </mat-form-field>
        </span>
    </div>
  </td>
  <td>
      <div id="teste_div">
          <canvas id="canvas_grafico" width="600" height="600">{{dataSource}}</canvas>
      </div>
  </td>
  </tr>
</table>
<button mat-raised-button color="primary" (click)="updateTable(select_tables.value)">ATUALIZAR</button>
<button mat-raised-button color="primary" (click)="insertDados(select_tables.value)">INSERIR</button>


